{% extends 'teachertemplates/teacherbase.html' %}
{% load static %}
{% block active5 %}active{% endblock %}
{% block css %}
{% endblock %}
{% block body %}


 {% if messages%}
<div class="success-message">
<div class = "alert alert-success background-success" style="z-index: 10 ; position: absolute;   right:100px;
  top: 40px;">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
</div>
{% endif %}
<div class="main-body">


<div class="page-header">
<div class="row align-items-end">
<div class="col-lg-8">
<div class="page-header-title">
<div class="d-inline">
<h5>Study Materials List</h5>
<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
</div>
</div>
</div>

</div>
</div>

<div class="row">
<div class="col-sm-12">

<div class="card">
<div class="card-header col-md-12">
<h4 style="display: inline;">Study Materials List</h4>
<a href="{% url 'cmsapp:teacherstudymaterialscreate' %}" style="float: right;"><i class="icofont icofont-plus-circle" style="font-size: 40px !important; color: #1bc6cc;"></i></a>
</div>
<div class="card-block task-list">
<div class="table-responsive">
<table id="datatables" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
<thead>
<tr>
<th>S.N.</th>
<th>Title</th>
<th>Language Course</th>
<th>Study File</th>
<th>Action</th>


</tr>
</thead>
<tfoot>
        <tr>
        	<th>S.N.</th>
			<th>Title</th>
			<th>Language Course</th>
			<th>Study File</th>
			<th>Action</th>

         		
			
		</tr>
    </tfoot>
<tbody class="task-page">
{% for studymaterials in teacherstudymaterialslist %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{studymaterials.title}}</td>
<td>{{studymaterials.language_course}}</td>
<td><a href="{{studymaterials.study_file }}" download>{{studymaterials.study_file }}</a> </td>
<td>
<a data-remote="{% url 'cmsapp:teacherstudymaterialsdelete' studymaterials.id %}" data-toggle="modal" data-target="#cms" href="{% url 'cmsapp:teacherstudymaterialsdelete' studymaterials.id %}" style="padding-right: 7px; margin: 5px;">
<i class="icofont icofont-trash" style="font-size: 20px !important;"></i>
</a>
<a href="{% url 'cmsapp:teacherstudymaterialsupdate' studymaterials.id %}" style="padding-right: 7px;  margin: 5px;"> 
<i class="icofont icofont-refresh" style="font-size: 20px !important;"></i>
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock %}
{% block js %}


{% endblock %}