{% extends 'teachertemplates/teacherbase.html' %}
{% load static %}


{% block body %}
<div class="row p-5">
	<div class="col-8 mx-auto">
		<form id="he" method="POST"  enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container">
			{{form.as_table}}
			</div>
				<hr>
			<div class="form-group">


				{{ formset.management_form }}
				<div class="col-sm-10" >	
						{% for form1 in formset %}
					<table style="margin-bottom: 20px;">
							{{form1.as_table}}
					</table>
						{% endfor %}

				</div>


				<div class="j-footer">
					<br>
					<br>
				<button class="btn btn-primary">Send</button>
				</div>
			</div>
		</form>  
	</div>
</div>


{% endblock %}