{% extends 'receptionisttemplates/receptionistbase.html' %}
{% load static %}
{% block active6 %}active{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

 {% if messages%}
<div class="success-message">
<div class = "alert alert-success background-success" style="z-index: 10 ; position: absolute;   right:100px;
  top: 40px;">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
</div>
{% endif %}
<div class="card">
<div class="card-header col-md-12">
<h4 style="display: inline;">Visitor List</h4>
<a href="{% url 'cmsapp:visitorregistration' %}" style="float: right;"><i class="icofont icofont-plus-circle" style="font-size: 40px !important; color: #1bc6cc;"></i></a>
</div>
<div class="card-block task-list">
<div class="table-responsive">
<table id="datatables" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
<thead>
<tr>
<th>S.N.</th>
<th>Name</th>
<th>Address</th>
<th>Phone</th>
<th>Email</th>
<th>Source</th>
<th>Visited Date</th>
<th>Purpose</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
    {% for visitor in receptionistvisitorlist %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{visitor.name}}</td>
<td>{{visitor.address}}</td>
<td>{{visitor.phone}}</td>
<td>{{visitor.email}}</td>
<td>{{visitor.source}}</td>
<td>{{visitor.visited_date}}</td>
<td>{{visitor.purpose}}</td>
<td>
<a href="{% url 'cmsapp:receptionistvisitorupdate' visitor.id %}" style="padding-right: 7px;  margin: 5px;"> 
<i class="icofont icofont-refresh" style="font-size: 20px !important;"></i>
</a>
<a data-remote="{% url 'cmsapp:receptionistvisitordelete' visitor.id %}" data-toggle="modal" data-target="#cms" href="{% url 'cmsapp:receptionistvisitordelete' visitor.id %}" style="padding-right: 7px; margin: 5px;">
<i class="icofont icofont-trash" style="font-size: 20px !important;"></i>
</a>
</td> 

</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
{% block js %}
{% endblock %}

