{% extends 'receptionisttemplates/receptionistbase.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Task Create</h5>
				</div>
				<div class="card-block">
					<div class="j-wrapper">
						<form method="POST" class="j-pro post-form">
							{% csrf_token %}
							<div class="j-content">
								<div class="j-unit">
									<label class="j-label">Task Title</label>
									<div class="j-input">
										<label class="j-icon-right" for="name">
										<i class="icofont icofont-ui-user"></i>
										</label>
										{{form.title}}
										{{form.errors}}
									</div>
								</div>
								<div class="j-row">
									<div class="j-span6 j-unit">
										<label class="j-label">Assigned to</label>
										<div class="j-input">
											<label class="j-icon-right" for="name">
											<i class="icofont icofont-waiter"></i>
											</label>
											{{form.assigned_to}}
										</div>
									</div>
									<div class="j-span6 j-unit">
										<label class="j-label">Priority</label>
										<div class="j-input">
											<label class="j-icon-right" for="phone">
											<i class="icofont icofont-phone"></i>
											</label>
											{{form.priority}}
										</div>
									</div>
								</div>
								<div class="j-divider j-gap-bottom-25"></div>
								<div class="j-row">
									<div class="j-span6 j-unit">
										<label class="j-label">Status of task</label>
										<div class="j-input">
											 <label class="j-icon-right" for="adults">
											<i class="icofont icofont-waiter"></i>
											</label>
											{{form.status}}
											<span class="j-tooltip j-tooltip-right-top">Status of task</span>
										</div>
									</div>
									<div class="j-span6 j-unit">
										<label class="j-label">Due date</label>
										<div class="j-input">
											<label class="j-icon-right" for="date_from">
											<i class="icofont icofont-ui-calendar"></i>
											</label>
											{{form.due_date}}
										</div>
									</div>
								</div>
								<div class="j-divider j-gap-bottom-25"></div>
								<div class="j-unit">
									<label class="j-label">Task Description</label>
									<div class="j-input">
										{{form.content}}
									</div>
								</div>
							</div>
							<div class="j-footer">
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}

{% endblock %}