{% extends 'receptionisttemplates/receptionistbase.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block body %}

<div class="page-body">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5>Appointment Form</h5>
			</div>
			<div class="card-block">
				<div class="j-wrapper" style="padding:0;">
					<form method="POST" class="j-pro" id="j-pro" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="j-content">
							<div class="j-row">
								<div class="j-span6 j-unit">
									<label class="j-label">Lead</label>

									<div class="j-input">
										{{form.lead}}
									</div>
								</div>
								<div class="j-span6 j-unit">
									<label class="j-label">Consultant</label>

									<div class="j-input">
										{{form.consultant}}
									</div>
								</div>
							</div>
							<div class="j-unit">
								<label class="j-label">Subject</label>
								<div class="j-input">
									<label class="j-icon-left" for="email">
									<i class="icofont icofont-paperclip"></i>
									</label>
									{{form.subject}}
								</div>
							</div>
							<div class="j-divider j-gap-bottom-25"></div>
							<div class="j-unit">
								<label class="j-label">Appointment Date</label>
								<div class="j-input">
									<label class="j-icon-left" for="subject">
									<i class="icofont icofont-ui-calendar"></i>
									</label>
									{{form.appointment_date}}
								</div>
							</div>
							<div class="j-divider j-gap-bottom-25"></div>
							<div class="j-unit">
								<label class="j-label">Appointment Status</label>

								<div class="j-input">
									{{form.status}}
								</div>
							</div>
							<div class="j-unit">
								<label class="j-label">Note</label>
								<div class="j-input">
									<label class="j-icon-left" for="message">
									<i class="icofont icofont-file-text"></i>
									</label>
									{{form.note}}
									<span class="j-tooltip j-tooltip-right-top">Describe your note as detailed as possible</span>
								</div>
							</div>
							<div class="j-response"></div>
						</div>
						<div class="j-footer">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block js %}

{% endblock %}