<div class="modal-header">
 <h5 class="modal-title">Appointment Delete</h5>
    <button type="button" class="close" data-dismiss="modal" style="position:right;">&times;</button>
</div>
<form class="form" method="POST" action="{% url 'cmsapp:adminappointmentdelete' appointment.id %}">{% csrf_token %}

    <div class="modal-body text-center">
        Are you sure you want to delete {{appointment.subject}}?
    </div>
    <div class="modal-footer py-1">
        <button class="btn btn-danger w-50 mx-1">Delete</button>
        <button class="btn btn-default w-50 mx-1" data-dismiss="modal">Cancel</button>
    </div>
</form>
