{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block active9 %}active{% endblock %}
{% block css %}

{% endblock %}

{% block body %}

{% if messages%}
<div class="success-message">
<div class = "alert alert-success">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
</div>
{% endif %}

<div class="col-sm-12">
	<div class="card">
		<div class="card-header col-md-10">
			<h5><b>Appointment List</b></h5>
		</div>
		<div class="card-block task-list">
			<div class="table-responsive">
				<table id="datatables" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
					<thead>
						<tr>
 							<th>S.N.</th>
                            <th>Lead</th>
                            <th>Consultant</th>
                            <th>Appointment Date</th>
                            <th>Note</th>
                            <th>Status</th>
                        <th class="text-right">Action</th>
						</tr>
					</thead>
					<tfoot>
				        <tr>
							<th>S.N.</th>
							<th>Lead</th>
							<th>Consultant</th>
							<th>Appointment Date</th>
							<th>Note</th>
							<th>Status</th>
							<th class="text-right">Action</th>
				        </tr>
				    </tfoot>
					<tbody class="task-page">
						{% for appointment in adminappointmentlist %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{appointment.lead}}</td>
								<td>{{appointment.consultant}}</td>
								<td>{{appointment.appointment_date}}</td>
								<td>{{appointment.note}}</td>
								<td>{{appointment.status}}</td>
								<td>
									<a data-remote="{% url 'cmsapp:appointmentdelete' appointment.id %}" data-toggle="modal" data-target="#cms" href="{% url 'cmsapp:appointmentdelete' appointment.id %}" style="padding-right: 7px; margin: 5px;">
									<i class="icofont icofont-trash" style="font-size: 20px !important;"></i>
									</a>
								</td> 
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% endblock %}