{% extends 'consultanttemplates/consultantbase.html' %}
{% load static %}
{% block active8 %}active{% endblock %}
{% block css %}


{% endblock %}
{% block body %}


 {% if messages%}
<div class="success-message">
<div class = "alert alert-success background-success" style="z-index: 10 ; position: absolute;   right:100px;
  top: 40px;">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
</div>
{% endif %}


<div class="page-header">
<div class="row align-items-end">
<div class="col-lg-8">
<div class="page-header-title">
<div class="d-inline">
<h5>Appointment List1</h5>
<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
</div>
</div>
</div>

</div>
</div>

<div class="card">
    <div class="card-header col-md-12">
        <h6 style="display: inline;"><b>Appointment List</b></h6>
        <a href="{% url 'cmsapp:consultantappointmentcreate' %}" style="float: right;"><i class="icofont icofont-plus-circle" style="font-size: 40px !important; color: #1bc6cc;"></i></a>
    </div>
    <div class="card-block task-list">
        <div class="table-responsive">
            <table id="datatables" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                            <th>S.N.</th>
                            <th>Lead</th>
                            <th>Consultant</th>
                            <th>Appointment Date</th>
                            <th>Note</th>
                            <th>Status</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                            <th>S.N.</th>
                            <th>Lead</th>
                            <th>Consultant</th>
                            <th>Appointment Date</th>
                            <th>Note</th>
                            <th>Status</th>
                        <th class="text-right">Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for appointment in consultantappointmentlist %}
                    <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{appointment.lead}}</td>
                                <td>{{appointment.consultant}}</td>
                                <td>{{appointment.appointment_date}}</td>
                                <td>{{appointment.note}}</td>
                                <td>{{appointment.status}}</td>
                        <td>
                        <a data-remote="{% url 'cmsapp:consultantappointmentdelete' appointment.id %}" data-toggle="modal" data-target="#cms" href="{% url 'cmsapp:consultantappointmentdelete' appointment.id %}" style="padding-right: 7px; margin: 5px;">
                        <i class="icofont icofont-trash" style="font-size: 20px !important;"></i>
                        </a>
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}




{% endblock %}