{% extends 'consultanttemplates/consultantbase.html' %}
{% block active11 %}active{% endblock %}
{% load static %}
{% block css %}

{% endblock %}
{% block body %}

{% if messages%}
<div class="success-message">
<div class = "alert alert-success background-success" style="z-index: 10 ; position: absolute;   right:100px;
  top: 40px;">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
</div>
{% endif %}
<div class="page-header">
	<div class="row align-items-end">
		<div class="col-lg-8">
			<div class="page-header-title">
				<div class="d-inline">
				<h4>University List</h4>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="row">
   
   <div class="col-sm-12">

       <div class="card">
			<div class="card-header col-md-12">
			   <h5 style="display: inline;"><b> University List</b></h5>
				<a href="{% url 'cmsapp:consultantuniversitycreate' %}" style="float: right;"><i class="icofont icofont-plus-circle" style="font-size: 40px !important; color: #1bc6cc;"></i></a>
			</div>
               <div class="card-block task-list">
                   <div class="dt-responsive table-responsive">
						<table id="datatables" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>S.N</th>
									<th>Name</th>
									<th>Address</th>
									<th>Country</th>
									<th>Deadline</th>
									<th>Relation</th>
									<th>Contact Person</th>
									<th>Term</th>
									<th>Phone</th>
									<th>Email</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							{% for university in consultantuniversitylist %}
								<tr>
									<td>{{forloop.counter}}</td>
									<td><a href="{% url 'cmsapp:consultantuniversitydetail' university.id %}">{{university.name}}</a></td>
									<td>{{university.address}}</td>
									<td>{{university.country}}</td>
									<td>{{university.deadline}}</td>
									<td>{{university.relation}}</td>
									<td>{{university.contact_person}}</td>
									<td>{{university.term}}</td>
									<td>{{university.phone}}</td>
									<td>{{university.email}}</td>
									<td>
									<a href="{% url 'cmsapp:consultantuniversityupdate' university.id %}" style="padding-right: 7px;  margin: 5px;"> 
									<i class="icofont icofont-refresh" style="font-size: 20px !important;"></i>
									</a>
								    </td>

								</tr>
							{% endfor %}
							</tbody>
		
						</table>
                    </div>
                </div>
         </div>
    </div>
</div>

{% endblock %}
{% block js %}

{% endblock %}

