{% extends 'consultanttemplates/consultantbase.html' %}
{% load static %}
{% block active3 %}active{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
<div class="page-header">
<div class="row align-items-end">
<div class="col-lg-8">
<div class="page-header-title">
<div class="d-inline">
<h4>Teacher List</h4>
<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
</div>
</div>
</div>

</div>
</div>



<div class="row">
<div class="col-sm-12">

<div class="card">
<div class="card-header col-md-10">
<h5>Teacher List</h5>
</div>
<div class="card-block task-list">
<div class="table-responsive">
<table id="datatables" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
<thead>
<tr>
<th>S.N.</th>
<th>Name</th>
<th>Address</th>
<th>Phone</th>
<th>Qualification</th>
<th>Experience</th>


</tr>
</thead>
<tbody>
    {% for teacher in consultantteacherlist %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{teacher.name}}</td>
<td>{{teacher.address}}</td>
<td>{{teacher.phone}}</td>
<td>{{teacher.qualification}}</td>
<td>{{teacher.experience}}</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
{% block js %}

{% endblock %}

