{% load static %}
{% block css %}

{% endblock %}
{% block body %}
<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="card bg-white">
						<div class="post-new-contain row card-block">
							<div class="col-md-1 col-xs-3 post-profile">
								<img src="{% static '/files/assets/images/user.png' %}" class="img-fluid" alt="">
							</div>
								<form method="POST" class="col-md-11 col-xs-9" action= "{% url 'cmsapp:feedcreate' %}">
									<div class="media">
				
									<div class="media-body">
										<form class="post-form">
										{% csrf_token %}
										{{feedform.post}}
											<div class="text-right m-t-20">
											<button type="submit" class="save btn btn-default btn-primary">Post</button>
											</div>
										
										</form>
									</div>
						</div>
								</form>
					</div>

					</div>
				<div>
					<div class="bg-white p-relative">
						<div class="input-group wall-elips">
							<span class="dropdown-toggle addon-btn text-muted f-right wall-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
								<div class="dropdown-menu dropdown-menu-right b-none services-list">
									<a class="dropdown-item" href="#">Remove tag</a>
									<a class="dropdown-item" href="#">Report Photo</a>
									<a class="dropdown-item" href="#">Hide From Timeline</a>
									<a class="dropdown-item" href="#">Blog User</a>
								</div>
						</div>
								{% for feed in feedlist %}
							<div class="card-block">
								<div class="media">
									<div class="media-left media-middle friend-box">
									<a href="#">
									<img class="media-object img-radius m-r-20" src="../files/assets/images/avatar-2.jpg" alt="">
									</a>
									</div>
									<div class="media-body">
										<div class="chat-header">{{feed.feed_by}}</div>
										<div class="f-13 text-muted">50 minutes ago</div>
										<p class="text-muted">{{feed.post}} </p>
												<div class="card-block b-b-theme b-t-theme social-msg">
										<a href="#">
										<i class="icofont icofont-heart-alt text-muted">
										</i>
										<span class="b-r-theme">Like (20)</span>
										</a>
										<a href="#">
										<i class="icofont icofont-comment text-muted">
										</i>
										<span class="b-r-theme">Comments (25)</span>
										</a>
										<a href="#">
										<i class="icofont icofont-share text-muted">
										</i>
										<span>Share (10)</span>
										</a>
									</div>
									<div class="card-block user-box">
										<div class="p-b-20">
										<span class="f-14"><a href="#">Comments ({{forloop.counter}})</a>
										</span>
										<span class="f-right">see all comments
										</span>
										 </div>
										 {% for comment in feed.comments.all %}
										<div class="media">
											<a class="media-left" href="#">
											<img class="media-object img-radius m-r-20" src="{% static '/files/assets/images/avatar-1.jpg' %}" alt="Generic placeholder image">
											</a>
											<div class="media-body b-b-theme social-client-description">
											<div class="chat-header">{{comment.comment}}<span class="text-muted">Jane 04, 2015</span></div>
											<p class="text-muted">{{comment.comment_by.username}} </p>
											</div>
										</div>
										{% endfor %}
										<div class="media">
												<a class="media-left" href="#">
												<img class="media-object img-radius m-r-20" src="{% static '/files/assets/images/user.png' %}" alt="Generic placeholder image">
												</a>
												<div class="media-body">
												<form method ="POST" action="{% url 'cmsapp:commentcreate' feed.id %}" >
												<div class="">
													{% csrf_token %}
													{{commentform.comment}}
												<!-- <textarea class="f-13 post-input msg-send" rows="3" cols="10" required="" placeholder="Write something....."></textarea> -->
										<!-- 		<div class="text-right m-t-20"><a href="#" class="btn btn-primary waves-effect waves-light">Comment</a></div> -->
													<div class="text-right m-t-20">
											<button type="submit" class="save btn btn-default btn-success">Comment</button>
											</div>
												</div>
												</form>
												</div>
											</div>
										</div>
										</div>
									</div>
							</div>
								{% endfor %}
			
			</div>

			<div class="f-30 text-muted text-center p-30">2014</div>
			</div>
</div>
</div>
</div>
</div>



{% endblock %}