{% extends 'base.html' %}
{% load static %}
{% block css %}
<style type="text/css">
        /**  =====================
      Sticky css start
==========================  **/
        /*add Button css Start*/

        .pulse-ring {
            content: '';
            width: 140px;
            height: 55px;
            border: 20px solid #1b8bf9;
            position: absolute;
            top: 18px;
            left: 18px;
            background-color: #1b8bf9;
            animation: pulsate infinite 1.5s;
        }

        @-webkit-keyframes pulsate {
            0% {
                -moz-transform: scale(0);
                opacity: 0.0;
            }
            25% {
                -moz-transform: scale(0);
                opacity: 0.1;
            }
            50% {
                -moz-transform: scale(0.1);
                opacity: 0.3;
            }
            75% {
                -moz-transform: scale(0.5);
                opacity: 0.5;
            }
            100% {
                -moz-transform: scale(1);
                opacity: 0.0;
            }
        }

        @-moz-keyframes pulsate {
            0% {
                -moz-transform: scale(0);
                opacity: 0.0;
            }
            25% {
                -moz-transform: scale(0);
                opacity: 0.1;
            }
            50% {
                -moz-transform: scale(0.1);
                opacity: 0.3;
            }
            75% {
                -moz-transform: scale(0.5);
                opacity: 0.5;
            }
            100% {
                -moz-transform: scale(1);
                opacity: 0.0;
            }
        }
        /*====== Sticky End ======*/
    </style>
{% endblock %}
{% block body %}
<div class="pcoded-content">
<div class="pcoded-inner-content">

<div class="main-body">
<div class="page-wrapper">

<div class="page-header">
<div class="row align-items-end">
<div class="col-lg-8">
<div class="page-header-title">
<div class="d-inline">
<h4>Sticky</h4>
<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="page-header-breadcrumb">
<ul class="breadcrumb-title">
<li class="breadcrumb-item">
 <a href="index.html"> <i class="feather icon-home"></i> </a>
</li>
<li class="breadcrumb-item"><a href="#!">Sticky</a>
</li>
</ul>
</div>
</div>
</div>
</div>


<div class="page-body">
<div class="row">
<div class="col-sm-12">

<div class="card">
<div class="card-header">
<h5>Sticky Notes</h5>
<span>Click <code>Add Note</code> button to add new sticky notes</span>
</div>
<div class="card-block sticky-card">
<button type="button" id="idRunTheCode" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Add note">
<i class="icofont icofont-ui-add"></i><span class="m-l-10">Add note</span>
</button>
<div class="row">
<div class="col-sm-2">
<p id="notes" class="notes">
    
</p>
</div>
<div class="col-sm-2">
<p id="notes1" class="notes1"></p>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>

<div id="styleSelector">
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->


{% endblock %}
{% block js %}

<script type="text/javascript" src="{% static '/files/bower_components/jquery/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/popper.js/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static '/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>

<script type="text/javascript" src="{% static '/files/bower_components/modernizr/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/modernizr/js/css-scrollbars.js' %}"></script>

<script type="text/javascript" src="{% static '/files/assets/pages/sticky/js/trumbowyg.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/assets/pages/sticky/js/jquery.minicolors.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/assets/pages/sticky/js/jquery.postitall.js' %}"></script>

<script type="text/javascript" src="{% static '/files/bower_components/i18next/js/i18next.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script>

<script type="text/javascript" src="{% static '/files/assets/pages/sticky/js/sticky.js' %}"></script>
<script src="{% static '/files/assets/js/pcoded.min.js' %}"></script>
<script src="{% static '/files/assets/js/vartical-layout.min.js' %}"></script>
<script src="{% static '/files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script type="text/javascript" src="{% static '/files/assets/js/script.js' %}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
{% endblock %}