{% extends 'base.html' %}
{% load static %}
{% block body %}
<div style="margin:20px 300px; margin-right: 100px;">
<div class="pcoded-content">
<div class="pcoded-inner-content">

<div class="main-body">
<div class="page-wrapper">

<div class="page-header">
<div class="row align-items-end">
<div class="col-lg-8">
<div class="page-header-title">
<div class="d-inline">
<h4>University Profile</h4>
<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>


<div class="page-body">

<div class="row">
<div class="col-lg-12">
<div class="cover-profile">
 <div class="profile-bg-img">
<img class="profile-bg-img img-fluid" src="{{universitydetail.image.url}}" alt="bg-img" style="height: 300px; width: 100%">
<div class="card-block user-info">
<div class="col-md-12">
<div class="media-left">
<!-- <a href="#" class="profile-image">
<img class="user-img img-radius" src="{{universitydetail.image.url}}" alt="user-img" style="width: 100px; height: 100px;">
</a> -->
</div>
<div class="media-body row">
<div class="col-lg-12">
<div class="user-title">
<h2>{{universitydetail.name}}</h2>
</div>
</div>
<div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">


<div class="tab-content">

<!-- <div class="tab-pane active" id="personal" role="tabpanel"> -->

<div class="card">
<div class="card-header">
<h5 class="card-header-text">About University</h5>

</div>
<div class="card-block">
<div class="view-info">
<div class="row">
<div class="col-lg-12">
<div class="general-info">
<div class="row">
<div class="col-lg-12 col-xl-8">
<div class="table-responsive">
<table class="table m-0">
<tbody>
<tr>
<th scope="row">Full Name</th>
<td>{{universitydetail.name}}</td>
</tr>
<tr>
<th scope="row">Address</th>
 <td>{{universitydetail.address}}</td>
</tr>
<tr>
<th scope="row">Country</th>
<td>{{universitydetail.country}}</td>
</tr>
<tr>
<th scope="row">Email</th>
<td>{{universitydetail.email}}</td>
</tr>
<tr>
<th scope="row">Term</th>
<td>{{universitydetail.term}}</td>
</tr>
<tr>
<th scope="row">Relation</th>
<td>{{universitydetail.relation}}</td>
</tr>
<tr>
<th scope="row">Language Course</th>
<td>{{universitydetail.language_course}}</td>
</tr>
<tr>
<th scope="row">Features</th>
<td>{{universitydetail.features}}</td>
</tr>
<tr>
<th scope="row">Scholarship</th>
<td>{{universitydetail.scholarship}}</td>
</tr>


</tbody>
</table>
</div>
</div>
<!-- 
</div> -->

</div>

</div>

</div>

</div>

</div>
<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-header">
<h5 class="card-header-text">Description About Me</h5>

</div>
<div class="card-block user-desc">
<div class="view-desc">
<p>{{universitydetail.about}}</p>
</div>

{% endblock %}
